.campus{
    margin: 90px auto;
    width: 85%;
    justify-content: center;
    text-align: center;
   
}
.gallery{
    display: flex;
    display: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    transition: none;
        transition: transfrom 0.2;
        margin: 30px;
   
}
.gallery img{
    margin: 10px;
        width: 300px;
        height: 320px;
        margin-top: 60px;
  
    border-radius: 10px;
    margin: 10px;
    &:hover{
        transform: scale(1.05);
    }
}
.dark{
    background-color: #212EA0;
    color: #fff;
}
@media (max-width:1000px) {
    .gallery{
        flex-direction: column;
        transition: transfrom 0.2;
        
    }
        .gallery img {
            width: 100%;
            margin: 20px;
            border-radius: 10px;
    
            &:hover {
                transform: scale(1.05);
            }
                        .campus {
                            margin: 80px auto;
                            width: 70%;
                            justify-content: center;
                            text-align: center;
                        }
        }
    
}